/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./components/demo/popup/PopUp.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: var(--Neutral-10);
  color: var(--text);
  padding: 30px;
  border-radius: 16px;
  max-width: 600px;
  width: 90%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  border: 1px solid var(--border-stroke);
}

.popup-content h2 {
  margin-top: 0;
  color: var(--accent-blue-headers);
  font-size: 24px;
  margin-bottom: 20px;
}

.popup-content p {
  margin-bottom: 20px;
  line-height: 1.6;
}

.popup-content ol {
  padding-left: 20px;
  margin-bottom: 30px;
}

.popup-content li {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.popup-content .icon {
  margin-right: 15px;
  font-size: 24px;
  color: var(--accent-blue);
}

.popup-content button {
  background-color: var(--Blue-500);
  color: var(--Neutral-5);
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  float: right;
  font-weight: bold;
  transition: background-color 0.2s;
}

.popup-content button:hover {
  background-color: var(--Blue-400);
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./components/demo/welcome-screen/WelcomeScreen.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************/
.welcome-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  color: var(--gray-500);
}

.welcome-content {
  max-width: 600px;
}

.welcome-icon {
  font-size: 60px;
  color: var(--gray-700);
  margin-bottom: 20px;
  font-family: 'Material Symbols Outlined';
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.title-selector {
  position: relative;
  display: inline-block;
}

.title-selector select {
  font-size: 28px;
  font-weight: bold;
  color: var(--gray-300);
  background-color: transparent;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 30px;
  /* Space for the icon */
  cursor: pointer;
  text-transform: capitalize;
}

.title-selector .icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 30px;
  color: var(--gray-300);
  pointer-events: none;
  /* Allows clicks to pass through to the select */
}

.welcome-content p {
  font-size: 18px;
  margin-bottom: 30px;
}

.example-prompts {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.prompt {
  background-color: var(--Neutral-15);
  padding: 10px 15px;
  border-radius: 8px;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  color: var(--gray-200);
}
